.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}
.container .title {
    color: var(--quaternary-color);
    font-size: 2rem;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 32px;
}
.container .title span {
    color: var(--quinary-color);
}
.container p {
    color: var(--secondary-color);
}