@import url('./header.css');
@import url('./mobile.css');
@import url('./main.css');
@import url('./container.css');
@import url('./about.css');
@import url('./services.css');
@import url('./portifolio.css');
@import url('./resource.css');
@import url('./footer.css');
@import url('./button.css');

/* Variables */
:root {
    --primary-color: #1464ff;
    --secondary-color: #35353d;
    --tertiary-color: #e69601;
    --quaternary-color: #00030c;
    --quinary-color: #ccc;
    --white-color: #fff;
    --black-color: #000;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: currentColor;
}
